.venv/
venv/
__pycache__/
*.pyc

facebook_browser_profile/

data/pages.csv
data/posts.csv
data/comments.csv
data/output.csv
data/output.xlsx
data/input_urls.csv

last_page.html
last_page.png

.env
*.log